<%= paginate players %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, player %></td>
      </tr>
  <% end %>
</table>

<%= paginate players %>
